VITE_APTOS_RPC=https://fullnode.devnet.aptoslabs.com/v1
VITE_APTOS_MODULE_ADDR=0x
VITE_VAULT_ADDR=0x
VITE_REGISTRY_ADDR=0x
VITE_ETH_RPC=https://sepolia.infura.io/v3/YOUR_KEY
VITE_VAULT_OFT_ADDR=0x
VITE_POLICY_SERVER_URL=http://localhost:8001
